:root {
	--measure: 60ch;

	font-size: calc(1rem + 0.3vw);
	font-family: Verdana, sans-serif;

	--ratio: 1.25;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));

	--sky: #375e97;
	--skybright: #698fc9;
	--skylight: #90bcff;
	--sunset: #fd7a5c;
	--sunnier: #ff9780;
	--sunflower: #ffbb00;
	--grass: #3f681c;
	--grassier: #8ad04e;

	--border-thin: var(--s-5);
	--border-thick: var(--s-2);

	--default-font: Verdana, Arial, sans-serif;
	--serif: Georgia, Times, serif;
	--sans-serif: Verdana, Arial, sans-serif;
	--monospace: Menlo, Monaco, monospace;

	--color-dark: #22262b;
	--color-light: #ffffff;

	--box-background-color: var(--color-light);
	--box-border: var(--border-thin);
	--box-color: var(--color-dark);
	--box-padding: var(--s1);

	--center-gutter: 0;

	--cluster-align: center;
	--cluster-gap: 1rem;
	--cluster-justify: flex-start;

	--cover-inset: 2rem;
	--cover-min-height: 100vh;
	--cover-padding: 0;

	--frame-relative-height: 9;
	--frame-relative-width: 16;

	--grid-cell-width: 100%;
	--grid-gap: 1rem;

	--sidebar-gutter: var(--s1);
	--sidebar-min-width: 50%;
	--sidebar-side-width: 'auto';

	--stack-gap: var(--s0);
	--stack-split-index: 0;

	--switcher-gap: 0;
	--switcher-row-limit: 4;
	--switcher-threshold: 30rem;

	--topper-margin: 0;

	--h1-color: var(--grass);
	--h1-font-size: var(--s4);
	--h1-padding: 2.5rem 0 0.5rem;

	--h2-color: var(--grass);
	--h2-font-size: var(--s3);
	--h2-padding: 2.5rem 0 0.5rem;

	--h3-color: var(--grass);
	--h3-font-size: var(--s2);
	--h3-padding: 1.5rem 0 0;

	--h4-color: var(--grass);
	--h4-font-size: var(--s1);
	--h4-padding: 1.5rem 0 0;

	--h5-color: var(--grass);
	--h5-font-size: var(--s0);
	--h5-padding: 1.5rem 0 0;

	--h6-color: var(--grass);
	--h6-font-size: var(--s0);
	--h6-padding: 1.5rem 0 0;

}
