.has-sidebar-bender {
	display: flex;
	flex-wrap: wrap;
	gap: var(--sidebar-gutter, var(--s1));
}

.has-sidebar-bender.no-stretch {
	align-items: flex-start;
}

.has-sidebar-bender.left > :first-child {
	flex-grow: 1;
}

.has-sidebar-bender.left.side-width > :first-child {
	flex-basis: var(--sidebar-side-width);
}

.has-sidebar-bender.left > :last-child {
	flex-basis: 0;
	flex-grow: 999;
	min-width: var(--sidebar-min-width, 50%);
}

.has-sidebar-bender.right > :last-child {
	flex-grow: 1;
}

.has-sidebar-bender.right.side-width > :last-child {
	flex-basis: var(--sidebar-side-width);
}

.has-sidebar-bender.right > :first-child {
	flex-basis: 0;
	flex-grow: 999;
	min-width: var(--sidebar-min-width, 50%);
}
